@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #000;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.full-screen-error {
  background-color: #333333;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "Arial Black";
  text-align: center;
  display: grid;
  align-content: center;
}

.container-error {
  padding-top: 4em;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.error-num {
  font-size: 6.2em;
}

.eye {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  position: relative;
  width: 100px;
}
.eye::after {
  background: #000;
  border-radius: 50%;
  bottom: 56.1px;
  content: " ";
  height: 33px;
  position: absolute;
  right: 33px;
  width: 33px;
}

.italic {
  font-style: italic;
}

h1{
  color: #fff;
  font-size: 2rem;
}

p {
  margin-bottom: 4em;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: .2px;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: lightgray;
}